@media screen and (max-width: 800px){

.home-display{

    display: flex;
    flex-direction: column;
    justify-content: left;
    background:url("./img/head-jewellery.svg")50%;;
    width: 100%;
    background-position: top right;
    min-height: 80vh;
    height: auto;
    max-height: 120vh;
    text-align: center;

}
.home-display-heading-text-h1{
    /* Elevate your style with our luxury jewelry collection */
    text-align: center;
    color: #fff;
    
    
    }
    .shop-now-button{
        text-align: center;
        margin-left: -20%;
    }

    .display-heading-tag-h1{
        color:#fff;
        text-align: center;
        width: 80%;
        left: 10%;
    }

    .necklace-collection-display{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    
    }
    .testimonials-display{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div-50{
        width: 90%;
        text-align: center;
    }
    .display-heading-tag-h1{
        padding-left: 10%;
        width: 90%;
    }
}
@media screen and (max-width: 800px){
    .category-flex{
        grid-template-columns: auto auto ;

    }
    .popular-collection-flex{
        grid-template-columns: auto auto;
        
    }
    .necklace-collection-display{
        text-align: center;

    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .category-flex{
        grid-template-columns: auto auto auto;

    }
    .popular-collection-flex{
        grid-template-columns: auto auto auto;
        
    }
}
