


.navigation {
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;
    padding: 10px 0px;
    background-color: #FFF;
    color: #FFF;
    justify-content: left;
    align-items: center;
    
  }
  .brand-name {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    justify-content: center;
      align-items: center;
      display: flex;
      /* + Safe */

font-family: 'AssistantRegular';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;

color: #000000;


  }
  .navigation-menu {
    justify-content: center;
    align-items: center;  
    margin-left: 65px;
  }
  .navigation-menu ul {
    display: flex;
    padding: 0;
    color: #FFF;
    justify-content: center;
      align-items: center;
  }
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    color: #FFF;
    justify-content: center;
      align-items: center;
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    /* Home */
    font-family: 'Neue Haas Grotesk Text Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #555555;


    justify-content: center;
      align-items: center;
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #bfbaba;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  /* Rectangle 1 */

  .hamburger:hover {
    background-color: #FFF;
  }

  .search-text-box{
    border-radius: 18px;
    /* Rectangle 13 */

    box-sizing: border-box;
    background-image: url('./img/search.svg');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    /* Extra Styling */
    padding: 5px 3px;
    transition:0.3s;

    border: 1px solid #E9E9E9;
    border-radius: 44px;

    padding: 20px; 
    width: 18%;
    max-width: 350px;
    min-width: 200px;
    height: 15px; 

  }

  .search-text-box::placeholder {
    opacity: 1; /* Firefox */
    /* Search name of fruits, food, vegetables... */


font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #BEBEBE;


  }


  .search-text-box:focus {
    background-image:none;
    text-indent:0px
}
.login-configs{
    padding-left:3%;
    color:#000;
    cursor:pointer;
    display: block;
}

.login-button{
width: 10%;
height: 30px;
text-align: center;
    float: center;

    padding:10px;
    padding-bottom: 5px;
    margin-left: 3%;

background: #FFCB98;
border-radius: 44px;
display: block;
cursor: pointer;
}

  @media screen and (max-width: 800px) {
    .navigation{
      position:fixed;
      z-index: 99;
    }
    .navigation-menu ul {
      position: absolute;
      top: 60px;  
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      border-top: 1px solid black;
      display: none;
  
    }
    .navigation-menu li {
      text-align: center;
      margin: 0;
  
    }
    .navigation-menu li a {
      color: black;
      width: 90%;
      padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
      background-color: #eee;
    }
    .navigation-menu.expanded ul {
      display: block;
    }
    .hamburger {
      display: block;
    }
    .login-configs{
        display: none;
    }
    .login-button{
      display: none;
      }
  }